In [22]:
import pandas as pd

#### Import data

In [23]:
hospice_df = pd.read_csv('data/Hospice_General_Information.csv')
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [24]:
hospice_df = hospice_df.loc[hospice_df.State == 'TN']
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [25]:
# Facility Name, Address Line 1, City, State, County Name, CMS Region, Ownership Type, and Cerfification Date
hospice_df.columns = ['ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 'region',
                     'owner_type', 'cert_date']
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [26]:
hospice_df.drop(columns = ['ccn', 'address2', 'zip', 'phone'], inplace = True)
hospice_df.head(2)

,facility,address,city,state,county,region,owner_type,cert_date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984

In [27]:
print('top', hospice_df.head())
print('-----------------------')
print('bottom', hospice_df.tail())

top                                 facility                            address  \
2889                   ALIVE HOSPICE INC                1718 PATTERSON ROAD
2890          METHODIST ALLIANCE HOSPICE  6400 SHELBY VIEW DRIVE, SUITE 101
2891          HOSPICE OF CHATTANOOGA INC                 4411 OAKWOOD DRIVE
2892               AMEDISYS HOSPICE CARE          6570 STAGE ROAD SUITE 110
2893  NORTHCREST HOME HEALTH AND HOSPICE               212 NORTHCREST DRIVE

             city state     county  region  owner_type   cert_date
2889    NASHVILLE    TN   Davidson       4  Non-Profit  04/10/1984
2890      MEMPHIS    TN     Shelby       4  Non-Profit  08/31/1984
2891  CHATTANOOGA    TN   Hamilton       4  Non-Profit  06/30/1986
2892     BARTLETT    TN     Shelby       4  For-Profit  02/09/1987
2893  SPRINGFIELD    TN  Robertson       4       Other  07/13/1987
-----------------------
bottom                                   facility                        address  \
2940        ENCOMPASS HOSPICE OF TENNESSEE    828 ROYAL PARKWAY SUITE 113
2941                       QUALITY HOSPICE        341 WEST CENTRAL AVENUE
2942                        HEARTH HOSPICE  1800A ROSSVILLE AVE SUITE 114
2943  AMEDISYS HOSPICE, AN ADVENTA COMPANY              400 ROYAL PARKWAY
2944                       KINDRED HOSPICE        430 STUART RD NE, STE 2

             city state    county  region  owner_type   cert_date
2940    NASHVILLE    TN  Davidson       4  For-Profit  06/16/2010
2941    JAMESTOWN    TN  Fentress       4  For-Profit  01/04/2013
2942  CHATTANOOGA    TN  Hamilton       4  For-Profit  03/22/2013
2943    NASHVILLE    TN  Davidson       4       Other  01/05/2016
2944    CLEVELAND    TN   Bradley       4  For-Profit  01/04/2017

In [28]:
# print the dimensions of the data
hospice_df.shape

(56, 8)

#### Cancer Death Data

In [57]:
cancer_df = pd.read_csv('data/cancer_deaths.csv',skiprows= 4, nrows= 97)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [58]:
list(cancer_df.columns)

['County',
 ' FIPS',
 'Met Healthy People Objective of 161.4?',
 'Age-Adjusted Death Rate - deaths per 100,000',
 'Lower 95% Confidence Interval',
 'Upper 95% Confidence Interval',
 'Average Annual Count',
 'Recent Trend',
 'Recent 5-Year Trend in Death Rates',
 'Lower 95% Confidence Interval.1',
 'Upper 95% Confidence Interval.1']

In [59]:
cancer_df.shape

(97, 11)

In [105]:
cancer_df.columns = ['county', 'fips', 'hpo', 'aadr', 'lower_95', 'upper_95', 'aac',
                     'recent_trend', 'recent_5_trend', 'lower_95.1', 'upper_95.1']
cancer_df.head(2)

,county,fips,hpo,aadr,lower_95,upper_95,aac,recent_trend,recent_5_trend,lower_95.1,upper_95.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5

#### Census data

In [106]:
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv', skiprows = 1)
pop_df.head()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
1,0500000US47003,47003,"Bedford County, Tennessee",45058,22357,22701,45056,22356,22700,45086,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9
2,0500000US47005,47005,"Benton County, Tennessee",16489,8073,8416,16491,8074,8417,16511,...,48.3,46.6,45.2,48.0,47.1,45.7,48.4,47.4,46.0,48.7
3,0500000US47007,47007,"Bledsoe County, Tennessee",12876,6964,5912,12872,6962,5910,12882,...,46.3,43.4,41.7,46.5,43.5,41.9,46.4,43.9,42.1,47.3
4,0500000US47009,47009,"Blount County, Tennessee",123010,59559,63451,123100,59596,63504,123213,...,44.1,43.4,42.1,44.5,43.7,42.2,44.9,43.8,42.3,45.1

In [107]:
pop_df.tail()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
90,0500000US47181,47181,"Wayne County, Tennessee",17021,9402,7619,17027,9404,7623,16987,...,45.8,42.6,39.8,46.5,42.7,39.9,46.7,43.1,40.0,47.4
91,0500000US47183,47183,"Weakley County, Tennessee",35021,17159,17862,35015,17157,17858,35042,...,39.2,37.6,36.0,39.2,37.9,36.2,39.6,38.3,36.6,40.1
92,0500000US47185,47185,"White County, Tennessee",25841,12640,13201,25836,12637,13199,25821,...,44.0,42.7,41.0,44.2,42.8,41.2,44.3,42.8,41.3,44.4
93,0500000US47187,47187,"Williamson County, Tennessee",183182,89336,93846,183252,89371,93881,184130,...,39.7,39.0,38.2,39.7,39.0,38.3,39.7,39.0,38.3,39.7
94,0500000US47189,47189,"Wilson County, Tennessee",113993,55834,58159,114057,55863,58194,114677,...,41.1,40.2,39.2,41.1,40.0,39.0,40.9,39.9,39.0,40.8

In [108]:
print(pop_df.shape)

(95, 993)

In [109]:
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(april_data, axis = 1)

In [110]:
pop_df.shape

(95, 795)

In [111]:
list(pop_df.columns)

['Id',
 'Id2',
 'Geography',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2010 - Male; Total',
 'Population Estimate (as of July 1) - 2010 - Female; Total',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2011 - Male; Total',
 'Population Estimate (as of July 1) - 2011 - Female; Total',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2012 - Male; Total',
 'Population Estimate (as of July 1) - 2012 - Female; Total',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2013 - Male; Total',
 'Population Estimate (as of July 1) - 2013 - Female; Total',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2014 - Male; Total',
 'Population Estimate (as of July 1) - 2014 - Females; Total',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2015 - Male; Total',
 'Population Estimate (as of July 1) - 2015 - Female; Total',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2016 - Male; Total',
 'Population Estimate (as of July 1) - 2016 - Female; Total',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2017 - Male; Total',
 'Population Estimate (as of July 1) - 2017 - Female; Total',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - Under 5 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 5 to 9 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 10 to 14 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 15 to 19 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 20 to 24 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 25 to 29 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 30 to 34 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 35 to 39 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2015 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2015 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2016 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2016 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2016 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Male; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2017 - Female; Total - 40 to 44 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2010 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2010 - Female; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2011 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2011 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2011 - Female; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2012 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2012 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2012 - Female; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2013 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2013 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2013 - Female; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2014 - Male; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2014 - Females; Total - 45 to 49 years',
 'Population Estimate (as of July 1) - 2015 - Both Sexes; Total - 45 to 49 years',

In [112]:
# Select the ones you want
pop_df1 = pop_df[['Geography','Population Estimate (as of July 1) - 2010 - Both Sexes; Total','Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
                 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total','Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
                 'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)','Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
                 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years','Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
                 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years','Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
                 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years','Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
                 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years','Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
                 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years','Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
                 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years','Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
                 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years','Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
                 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years','Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
                 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years','Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
                 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years','Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
                 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years','Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
                 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years','Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over']]

In [113]:
pop_df1.shape

(95, 31)

In [127]:
list(pop_df1.columns)

['Geography',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
 'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over']

In [132]:
pop_df1.rename(columns={"Geography": "county"})
inplace = True

In [133]:
pop_df1.columns

Index(['county',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over'],
      dtype='object')

In [139]:
pop_and_cancer_df = cancer_df.merge(pop_df1, how='outer', on='county')

In [146]:
pop_and_cancer_df

,county,fips,hpo,aadr,lower_95,upper_95,aac,recent_trend,recent_5_trend,lower_95.1,...,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over
0,Tennessee,47999.0,No,185.4,184.0,186.8,13933.0,falling,-1.4,-1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,0.0,No,163.5,163.3,163.7,586354.0,falling,-1.5,-1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Trousdale County,47169.0,No,265.5,219.0,319.1,24.0,stable,0.0,-1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Scott County,47151.0,No,241.0,214.5,270.0,63.0,stable,-0.5,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cheatham County,47021.0,No,239.6,217.8,263.0,97.0,stable,-0.6,-1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Claiborne County,47025.0,No,237.3,216.4,259.8,100.0,stable,-0.1,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Hancock County,47067.0,No,236.2,193.1,287.1,22.0,stable,0.4,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Union County,47173.0,No,234.2,206.1,265.3,53.0,stable,-0.5,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Benton County,47005.0,No,233.9,207.1,263.6,59.0,stable,0.3,-0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Houston County,47083.0,No,227.4,188.9,272.1,26.0,stable,0.4,-0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sequatchie County,47153.0,No,224.3,194.3,257.9,43.0,rising,1.3,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Cocke County,47029.0,No,222.1,203.5,242.2,110.0,stable,-0.5,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Grainger County,47057.0,No,222.0,197.9,248.4,66.0,stable,0.1,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Carroll County,47017.0,No,221.8,201.2,244.1,89.0,stable,-0.2,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lake County,47095.0,No,220.4,178.3,270.1,19.0,stable,-0.3,-1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Campbell County,47013.0,No,219.2,201.8,237.7,124.0,stable,-0.4,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Stewart County,47161.0,No,218.2,188.3,252.0,40.0,stable,0.1,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Overton County,47133.0,No,217.0,193.8,242.4,67.0,stable,-0.3,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Marion County,47115.0,No,216.7,195.8,239.4,83.0,stable,-0.4,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,White County,47185.0,No,216.3,195.1,239.4,79.0,stable,-0.6,-1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Perry County,47135.0,No,216.0,178.5,259.9,25.0,stable,0.0,-1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Johnson County,47091.0,No,215.8,190.6,243.8,55.0,stable,0.1,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Meigs County,47121.0,No,214.3,181.7,251.5,34.0,stable,0.5,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Obion County,47131.0,No,214.1,194.6,235.2,92.0,stable,0.0,-0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Humphreys County,47085.0,No,212.3,187.3,240.1,54.0,stable,-0.2,-0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Macon County,47111.0,No,211.5,187.3,238.1,57.0,stable,-0.2,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Fentress County,47049.0,No,211.1,185.3,239.8,52.0,stable,-0.5,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Grundy County,47061.0,No,210.7,181.5,243.6,40.0,stable,0.5,-0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Tipton County,47167.0,No,210.6,194.5,227.6,134.0,stable,-0.2,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Polk County,47139.0,No,209.5,183.6,238.4,50.0,stable,-0.8,-1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,"Obion County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,703.0,639.0,1925.0,2202.0,2127.0,1901.0,1653.0,1138.0,728.0,677.0
163,"Overton County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,458.0,384.0,1536.0,1557.0,1546.0,1479.0,1208.0,831.0,538.0,396.0
164,"Perry County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,217.0,162.0,506.0,569.0,592.0,529.0,462.0,313.0,186.0,198.0
165,"Pickett County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,153.0,114.0,394.0,394.0,394.0,442.0,376.0,249.0,197.0,121.0
166,"Polk County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,352.0,308.0,1333.0,1212.0,1236.0,1113.0,960.0,644.0,428.0,328.0
167,"Putnam County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1496.0,1370.0,4568.0,4689.0,4472.0,4019.0,3437.0,2318.0,1474.0,1480.0
168,"Rhea County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,643.0,573.0,2235.0,2256.0,2153.0,2052.0,1609.0,1096.0,677.0,598.0
169,"Roane County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1375.0,1357.0,3880.0,4274.0,4399.0,3760.0,3163.0,2220.0,1351.0,1422.0
170,"Robertson County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1052.0,891.0,5125.0,5244.0,4480.0,3559.0,2676.0,1821.0,1120.0,925.0
171,"Rutherford County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2967.0,2756.0,19955.0,18303.0,15410.0,11990.0,8422.0,5347.0,3329.0,3079.0
172,"Scott County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,366.0,335.0,1558.0,1426.0,1393.0,1187.0,1002.0,698.0,373.0,356.0
173,"Sequatchie County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270.0,254.0,1030.0,1113.0,1082.0,1000.0,822.0,542.0,288.0,281.0
174,"Sevier County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1793.0,1539.0,7151.0,7145.0,7003.0,6517.0,5159.0,3433.0,1946.0,1644.0
175,"Shelby County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12986.0,13579.0,59532.0,60997.0,56177.0,45022.0,30529.0,19812.0,13297.0,14257.0
176,"Smith County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315.0,288.0,1540.0,1505.0,1300.0,1160.0,895.0,584.0,331.0,286.0
177,"Stewart County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,284.0,259.0,1085.0,981.0,1032.0,882.0,729.0,494.0,289.0,262.0
178,"Sullivan County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4004.0,3835.0,11400.0,11474.0,11287.0,10260.0,8903.0,6397.0,4256.0,3966.0
179,"Sumner County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2806.0,2616.0,13091.0,12739.0,11328.0,9633.0,7634.0,5019.0,3061.0,2943.0
180,"Tipton County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,954.0,739.0,4383.0,4395.0,3753.0,3043.0,2326.0,1514.0,980.0,806.0
181,"Trousdale County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.0,132.0,639.0,616.0,551.0,471.0,388.0,254.0,146.0,129.0
182,"Unicoi County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,520.0,483.0,1264.0,1413.0,1332.0,1277.0,998.0,773.0,544.0,478.0
183,"Union County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,313.0,265.0,1439.0,1588.0,1365.0,1221.0,951.0,650.0,348.0,321.0
184,"Van Buren County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112.0,119.0,376.0,457.0,489.0,511.0,342.0,235.0,128.0,115.0
185,"Warren County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,815.0,716.0,2685.0,2839.0,2617.0,2243.0,1883.0,1343.0,864.0,740.0
186,"Washington County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2527.0,2466.0,8328.0,8793.0,8274.0,7425.0,6017.0,4227.0,2699.0,2564.0
187,"Wayne County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,368.0,360.0,1207.0,1202.0,1084.0,1012.0,831.0,530.0,407.0,381.0
188,"Weakley County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,791.0,757.0,2123.0,2120.0,2072.0,1915.0,1559.0,1064.0,749.0,808.0
189,"White County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,630.0,566.0,1902.0,1835.0,1857.0,1782.0,1365.0,952.0,646.0,623.0
190,"Williamson County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2638.0,2708.0,16866.0,15563.0,13199.0,10610.0,7598.0,4632.0,3057.0,3161.0
191,"Wilson County, Tennessee",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1832.0,1620.0,9663.0,9711.0,8465.0,7480.0,5826.0,3682.0,2178.0,1798.0

In [149]:
pop_and_cancer_df.replace({', Tennessee': r''}, regex=True)

,county,fips,hpo,aadr,lower_95,upper_95,aac,recent_trend,recent_5_trend,lower_95.1,...,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over
0,Tennessee,47999.0,No,185.4,184.0,186.8,13933.0,falling,-1.4,-1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,0.0,No,163.5,163.3,163.7,586354.0,falling,-1.5,-1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Trousdale County,47169.0,No,265.5,219.0,319.1,24.0,stable,0.0,-1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Scott County,47151.0,No,241.0,214.5,270.0,63.0,stable,-0.5,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cheatham County,47021.0,No,239.6,217.8,263.0,97.0,stable,-0.6,-1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Claiborne County,47025.0,No,237.3,216.4,259.8,100.0,stable,-0.1,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Hancock County,47067.0,No,236.2,193.1,287.1,22.0,stable,0.4,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Union County,47173.0,No,234.2,206.1,265.3,53.0,stable,-0.5,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Benton County,47005.0,No,233.9,207.1,263.6,59.0,stable,0.3,-0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Houston County,47083.0,No,227.4,188.9,272.1,26.0,stable,0.4,-0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sequatchie County,47153.0,No,224.3,194.3,257.9,43.0,rising,1.3,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Cocke County,47029.0,No,222.1,203.5,242.2,110.0,stable,-0.5,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Grainger County,47057.0,No,222.0,197.9,248.4,66.0,stable,0.1,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Carroll County,47017.0,No,221.8,201.2,244.1,89.0,stable,-0.2,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lake County,47095.0,No,220.4,178.3,270.1,19.0,stable,-0.3,-1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Campbell County,47013.0,No,219.2,201.8,237.7,124.0,stable,-0.4,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Stewart County,47161.0,No,218.2,188.3,252.0,40.0,stable,0.1,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Overton County,47133.0,No,217.0,193.8,242.4,67.0,stable,-0.3,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Marion County,47115.0,No,216.7,195.8,239.4,83.0,stable,-0.4,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,White County,47185.0,No,216.3,195.1,239.4,79.0,stable,-0.6,-1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Perry County,47135.0,No,216.0,178.5,259.9,25.0,stable,0.0,-1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Johnson County,47091.0,No,215.8,190.6,243.8,55.0,stable,0.1,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Meigs County,47121.0,No,214.3,181.7,251.5,34.0,stable,0.5,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Obion County,47131.0,No,214.1,194.6,235.2,92.0,stable,0.0,-0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Humphreys County,47085.0,No,212.3,187.3,240.1,54.0,stable,-0.2,-0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Macon County,47111.0,No,211.5,187.3,238.1,57.0,stable,-0.2,-0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Fentress County,47049.0,No,211.1,185.3,239.8,52.0,stable,-0.5,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Grundy County,47061.0,No,210.7,181.5,243.6,40.0,stable,0.5,-0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Tipton County,47167.0,No,210.6,194.5,227.6,134.0,stable,-0.2,-0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Polk County,47139.0,No,209.5,183.6,238.4,50.0,stable,-0.8,-1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Obion County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,703.0,639.0,1925.0,2202.0,2127.0,1901.0,1653.0,1138.0,728.0,677.0
163,Overton County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,458.0,384.0,1536.0,1557.0,1546.0,1479.0,1208.0,831.0,538.0,396.0
164,Perry County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,217.0,162.0,506.0,569.0,592.0,529.0,462.0,313.0,186.0,198.0
165,Pickett County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,153.0,114.0,394.0,394.0,394.0,442.0,376.0,249.0,197.0,121.0
166,Polk County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,352.0,308.0,1333.0,1212.0,1236.0,1113.0,960.0,644.0,428.0,328.0
167,Putnam County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1496.0,1370.0,4568.0,4689.0,4472.0,4019.0,3437.0,2318.0,1474.0,1480.0
168,Rhea County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,643.0,573.0,2235.0,2256.0,2153.0,2052.0,1609.0,1096.0,677.0,598.0
169,Roane County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1375.0,1357.0,3880.0,4274.0,4399.0,3760.0,3163.0,2220.0,1351.0,1422.0
170,Robertson County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1052.0,891.0,5125.0,5244.0,4480.0,3559.0,2676.0,1821.0,1120.0,925.0
171,Rutherford County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2967.0,2756.0,19955.0,18303.0,15410.0,11990.0,8422.0,5347.0,3329.0,3079.0
172,Scott County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,366.0,335.0,1558.0,1426.0,1393.0,1187.0,1002.0,698.0,373.0,356.0
173,Sequatchie County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,270.0,254.0,1030.0,1113.0,1082.0,1000.0,822.0,542.0,288.0,281.0
174,Sevier County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1793.0,1539.0,7151.0,7145.0,7003.0,6517.0,5159.0,3433.0,1946.0,1644.0
175,Shelby County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12986.0,13579.0,59532.0,60997.0,56177.0,45022.0,30529.0,19812.0,13297.0,14257.0
176,Smith County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315.0,288.0,1540.0,1505.0,1300.0,1160.0,895.0,584.0,331.0,286.0
177,Stewart County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,284.0,259.0,1085.0,981.0,1032.0,882.0,729.0,494.0,289.0,262.0
178,Sullivan County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4004.0,3835.0,11400.0,11474.0,11287.0,10260.0,8903.0,6397.0,4256.0,3966.0
179,Sumner County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2806.0,2616.0,13091.0,12739.0,11328.0,9633.0,7634.0,5019.0,3061.0,2943.0
180,Tipton County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,954.0,739.0,4383.0,4395.0,3753.0,3043.0,2326.0,1514.0,980.0,806.0
181,Trousdale County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.0,132.0,639.0,616.0,551.0,471.0,388.0,254.0,146.0,129.0
182,Unicoi County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,520.0,483.0,1264.0,1413.0,1332.0,1277.0,998.0,773.0,544.0,478.0
183,Union County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,313.0,265.0,1439.0,1588.0,1365.0,1221.0,951.0,650.0,348.0,321.0
184,Van Buren County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112.0,119.0,376.0,457.0,489.0,511.0,342.0,235.0,128.0,115.0
185,Warren County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,815.0,716.0,2685.0,2839.0,2617.0,2243.0,1883.0,1343.0,864.0,740.0
186,Washington County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2527.0,2466.0,8328.0,8793.0,8274.0,7425.0,6017.0,4227.0,2699.0,2564.0
187,Wayne County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,368.0,360.0,1207.0,1202.0,1084.0,1012.0,831.0,530.0,407.0,381.0
188,Weakley County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,791.0,757.0,2123.0,2120.0,2072.0,1915.0,1559.0,1064.0,749.0,808.0
189,White County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,630.0,566.0,1902.0,1835.0,1857.0,1782.0,1365.0,952.0,646.0,623.0
190,Williamson County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2638.0,2708.0,16866.0,15563.0,13199.0,10610.0,7598.0,4632.0,3057.0,3161.0
191,Wilson County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1832.0,1620.0,9663.0,9711.0,8465.0,7480.0,5826.0,3682.0,2178.0,1798.0

In [164]:
hospice_per_county = pop_and_cancer_df.county.value_counts(0).to_dict()

In [165]:
for county in pop_and_cancer_df.county:
    if county in hospice_per_county:
        continue
else: hospice_per_county[county] = 0

In [173]:
pop_and_cancer_df[hospice_count] = hospice_per_county[county] for county in pop_and_cancer_df.county]

SyntaxError: invalid syntax (<ipython-input-173-9bb64d991cb2>, line 1)